@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Montserrat";
  font-size: 1.8rem;
  background: #191919;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 124rem;
}

.text__primary {
  color: #b88746;
}

._login {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  ._login {
    padding: 0 2rem;
  }
}

.console {
  background: #222;
  border: solid 1px #444;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 300px;
  overflow: scroll;
  padding: 60px 30px 30px 30px;
  position: relative;
  width: 600px;
}
.console .toolbar {
  align-items: center;
  background: #444;
  content: "";
  display: flex;
  height: 30px;
  justify-content: flex-start;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
.console .toolbar .pips {
  background: #FEBB2E;
  border-radius: 50%;
  display: flex;
  height: 12px;
  left: 35px;
  position: relative;
  width: 12px;
}
.console .toolbar .pips:before {
  background: #FF5F57;
  border-radius: 50%;
  content: "";
  height: 12px;
  left: -20px;
  position: absolute;
  width: 12px;
}
.console .toolbar .pips:after {
  background: #2AC840;
  border-radius: 50%;
  content: "";
  height: 12px;
  position: relative;
  right: -20px;
  width: 12px;
}
.console .console_output {
  color: #fff;
  font-size: 16px;
}
.console .console_output span {
  display: block;
  margin-bottom: 3px;
}
.console .console_output span:first-of-type {
  color: limegreen;
}
.console .console_input .Error {
  display: none;
  color: #fff;
  font-family: monospace;
  font-size: 16px;
  margin-right: 9px;
  width: 100%;
}
.console .console_input .Error.activeClass {
  display: flex !important;
}
.console .console_input .UserError {
  display: none;
  color: #fff;
  font-family: monospace;
  font-size: 16px;
  margin-right: 9px;
  width: 100%;
}
.console .console_input .UserError.activeClass {
  display: flex !important;
}
.console .console_input span {
  display: block;
}
@media only screen and (max-width: 768px) {
  .console .console_input span.email_input {
    display: grid;
    grid-template-columns: 45% 55%;
  }
}
.console .console_input span.email_input.active {
  display: flex;
}
@media only screen and (max-width: 768px) {
  .console .console_input span.password-input {
    display: grid;
    grid-template-columns: 45% 55%;
  }
  .console .console_input span.password-input .email {
    margin-right: 0;
  }
}
.console .console_input span.password-input.active {
  display: flex;
}
.console .console_input span.password-input {
  display: none;
}
.console .console_input span input {
  background: transparent;
  border: none;
  color: #fff;
  cursor: default;
  font-family: monospace;
  font-size: 16px;
  padding: 0;
}
.console .console_input span input:focus {
  border: none;
  outline: none;
}
.console .console_input span label {
  color: #fff;
  font-family: monospace;
  font-size: 16px;
  margin-right: 9px;
}
@media only screen and (max-width: 768px) {
  .console .console_input span label {
    margin-right: 0;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
._activeDashboard {
  background: linear-gradient(315deg, rgb(101, 0, 94) 3%, rgb(60, 132, 206) 38%, rgb(48, 238, 226) 68%, rgb(255, 25, 25) 98%);
  background-attachment: scroll;
  background-size: auto;
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}

.wave {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(1);
  }
}
.wrapper {
  position: absolute;
  top: 10%;
  right: 5%;
  width: 45px;
  height: 45px;
}
.wrapper label {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #b25244;
  background: linear-gradient(#f7f2f6, #b2ac9e);
  position: relative;
  color: #a5a39d;
  font-size: 70px;
  text-align: center;
  line-height: 150px;
  transition: all 0.3s ease-out;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
  z-index: 1;
  box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.13), 0 5px 8px rgba(0, 0, 0, 0.3), 0 10px 10px 4px rgba(0, 0, 0, 0.3);
}
.wrapper label:after {
  content: "";
  position: absolute;
  left: -10px;
  right: -10px;
  top: -10px;
  bottom: -10px;
  z-index: 1;
  border-radius: inherit;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.15);
}
.wrapper label:before {
  content: "";
  position: absolute;
  left: -10px;
  right: -10px;
  top: -10px;
  bottom: -10px;
  z-index: 1;
  border-radius: inherit;
  box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.13);
  -webkit-filter: blur(1px);
  filter: blur(1px);
}
.wrapper input:checked ~ label {
  box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.13), 0 5px 8px rgba(0, 0, 0, 0.35), 0 3px 10px 4px rgba(0, 0, 0, 0.2);
  color: #9abb82;
}
.wrapper .icon-off:after {
  content: "";
  display: block;
  position: absolute;
  width: 70%;
  height: 70%;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -35% 0 0 -35%;
  border-radius: 50%;
  background: linear-gradient(#cbc7bc, #d2cbc3);
  box-shadow: 0 -2px 5px rgba(255, 255, 255, 0.05), 0 2px 5px rgba(255, 255, 255, 0.1);
  -webkit-filter: blur(1px);
  filter: blur(1px);
}
.wrapper input {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 100;
  position: absolute;
  cursor: pointer;
}
.wrapper .switchOff {
  background: url("https://www.freeiconspng.com/thumbs/shutdown-icon/shutdown-icon-7.png");
  background-size: cover;
  display: block;
  width: 100%;
  height: 100%;
}

._count__wrapper {
  position: absolute;
  top: 50%;
  left: 30%;
}
@media only screen and (max-width: 1024px) {
  ._count__wrapper {
    left: 50%;
  }
}
@media only screen and (max-width: 768px) {
  ._count__wrapper {
    left: 70%;
  }
}

.rules {
  position: absolute;
  top: 70%;
  max-width: 40%;
  left: 15%;
}
@media only screen and (max-width: 1024px) {
  .rules {
    max-width: 50%;
  }
}
@media only screen and (max-width: 1024px) {
  .rules {
    max-width: 100%;
    padding-right: 2rem;
  }
}
.rules h2 {
  color: ivory;
  padding-bottom: 2rem;
  padding-left: -1rem;
  position: relative;
  left: -3%;
}
.rules li {
  color: ivory;
}

.mystery__container {
  position: absolute;
  top: 45%;
  left: 15%;
}
.mystery__box {
  position: relative;
}
.mystery__box:before {
  content: "";
  position: absolute;
  width: 170px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 90px;
  left: -10px;
}
.mystery__box input#click {
  display: none;
}
.mystery__box .surprise {
  position: relative;
  width: 150px;
  height: 100px;
  background-color: #e9c46a;
}
.mystery__box .surprise .click {
  position: absolute;
  background-color: #e9c46a;
  width: 170px;
  height: 40px;
  top: -40px;
  left: -10px;
  transform-origin: bottom left;
  transition: 0.3s;
  cursor: pointer;
}
.mystery__box .surprise .click:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 40px;
  background-color: #e76f51;
  left: 69px;
}
.mystery__box .surprise .click:after {
  content: "";
  position: absolute;
  width: 5px;
  height: 0;
  border-bottom: 30px solid #e76f51;
  border-top: 30px solid #e76f51;
  border-left: 0px solid transparent;
  border-right: 30px solid transparent;
  transform: rotate(-90deg);
  left: 65px;
  top: -47px;
}
.mystery__box .surprise .winner {
  position: absolute;
  transition: 0.5s;
  color: #800080;
  font-size: 4.5rem;
  text-align: center;
  width: 100%;
  z-index: -1;
  left: 5px;
}
.mystery__box .surprise #click:checked + .click {
  transform: rotate(-110deg) scaleX(0.85);
}
.mystery__box .surprise #click:checked ~ .winner {
  transform: translateY(-100px);
  animation: zIndex 1s forwards;
}
.mystery__box .surprise #click:checked ~ .sparkles {
  display: block;
}
.mystery__box .surprise .sparkles {
  position: absolute;
  display: none;
  top: -15px;
  z-index: 0;
  left: 40px;
}
.mystery__box .surprise .spark1, .mystery__box .surprise .spark2, .mystery__box .surprise .spark3, .mystery__box .surprise .spark4, .mystery__box .surprise .spark5, .mystery__box .surprise .spark6 {
  position: absolute;
  background-color: #fee440;
  border-radius: 50%;
  top: -9px;
  z-index: -1;
}
.mystery__box .surprise .spark1 {
  width: 8px;
  height: 8px;
  left: 30px;
  top: -9px;
  animation: fire 0.9s ease-in-out infinite, color 0.4s linear infinite;
}
.mystery__box .surprise .spark1:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  top: 8px;
  left: 11px;
  background-color: #fee440;
  border-radius: 50%;
}
.mystery__box .surprise .spark2 {
  width: 9px;
  height: 9px;
  left: 33px;
  top: -5px;
  animation: fire2 0.28s ease-in-out infinite, color 0.4s linear infinite;
}
.mystery__box .surprise .spark2:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  top: 12px;
  left: 3px;
  background-color: #fee440;
  border-radius: 50%;
}
.mystery__box .surprise .spark3 {
  width: 8.5px;
  height: 8.5px;
  left: 33px;
  top: -5px;
  animation: fire3 0.36s ease-in-out infinite, color2 0.4s linear infinite;
}
.mystery__box .surprise .spark3:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  top: 12px;
  left: -1px;
  background-color: #fee440;
  border-radius: 50%;
}
.mystery__box .surprise .spark4 {
  width: 7px;
  height: 7px;
  left: 27px;
  top: -5px;
  animation: fire2 0.24s ease-in-out infinite, color2 0.2s linear infinite;
}
.mystery__box .surprise .spark5 {
  width: 7px;
  height: 7px;
  left: 29px;
  top: -5px;
  animation: fire3 0.45s ease-in-out infinite, color 0.2s linear infinite;
}
.mystery__box .surprise .spark6 {
  width: 6px;
  height: 6px;
  left: 29px;
  top: -5px;
  animation: fire 0.35s ease-in-out infinite, color2 0.2s linear infinite;
}
.mystery__box .surprise:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 100px;
  background-color: #e76f51;
  left: 62px;
}
.mystery__box .surprise:after {
  content: "";
  position: absolute;
  box-shadow: inset 0 10px rgba(0, 0, 0, 0.3);
  width: 150px;
  height: 100px;
}

@keyframes fire3 {
  100% {
    transform: translateX(20px) translateY(-93px);
    opacity: 0.3;
  }
}
@keyframes fire2 {
  100% {
    transform: translateX(-5px) translateY(-90px);
    opacity: 0.3;
  }
}
@keyframes fire {
  100% {
    transform: translateX(-25px) translateY(-95px);
    opacity: 0.3;
  }
}
@keyframes color {
  from {
    background-color: #d00000;
  }
  to {
    background-color: #0081a7;
  }
}
@keyframes color2 {
  from {
    background-color: #8cff00;
  }
  to {
    background-color: #1d2d44;
  }
}
@keyframes zIndex {
  from {
    z-index: -1;
  }
  to {
    z-index: 0;
  }
}
/* CSS */
._login__count {
  background-color: #cf245f;
  background-image: linear-gradient(to bottom right, #fcd34d, #ef4444, #ec4899);
  border: 0;
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.125rem; /* 18px */
  font-weight: 600;
  line-height: 1.75rem; /* 28px */
  padding: 1.5rem 2rem;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
._login__count:hover {
  box-shadow: none;
}

@media only screen and (max-width: 1024px) {
  ._login__count {
    font-size: 1.5rem; /* 24px */
    padding: 1rem 1.5rem;
    line-height: 2rem; /* 32px */
  }
}
._looser {
  background-color: #cf245f;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  border: 0;
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.125rem; /* 18px */
  font-weight: 600;
  line-height: 1.75rem; /* 28px */
  padding: 1.5rem 2rem;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
._looser:hover {
  box-shadow: none;
}

@media only screen and (max-width: 1024px) {
  .looser {
    font-size: 1.5rem; /* 24px */
    padding: 1rem 1.5rem;
    line-height: 2rem; /* 32px */
  }
}

/*# sourceMappingURL=styles.css.map */
