// Media Query
@import "./media-query";

@mixin text($size, $weight, $family) {
    font-size: $size;
    font-weight: $weight;
    font-family: $family;
}

@mixin margin($top:unset, $right:unset, $bottom:unset, $left:unset) {
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}